
.vs/*
ElectricCarSalesTableApp.Core/bin/*
ElectricCarSalesTableApp.Core/obj/*
TestApp/bin/*
TestApp/obj/*
ElectricCarSalesTableApp.Core.UnitTests/bin/*
ElectricCarSalesTableApp.Core.UnitTests/obj/*
ElectricCarSalesTableApp.UnitTests/bin/*
ElectricCarSalesTableApp.UnitTests/obj/*
